.rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    font-size: 8px;
}

.invisibleRooms{
    width: 3rem;
    height: 3rem;
    border: 2px solid rgb(15, 129, 223);
    background-color: transparent !important;
}